.fl.w-100.pv4.f1.sommet-rounded.black-90
  = t("index.headline")

.fl.w-100
  = image_tag 'banner.jpg', :alt => "banner"

.fl.w-100.pv4.f3.lh-copy.tracked.sommet-rounded.black-90
  = t("index.claim")

.fl.w-100.w-50-ns
  .f4.b
    = t("index.applications_title")
  %p.f4.lh-copy
    = t("index.applications")

.fl.w-100.w-50-ns
  .f4.b
    = t("index.sites_title")
  %p.f4.lh-copy
    = t("index.sites")

.fl.w-100.w-third-ns.f5
  %p.tc.b.mv4
    = t("index.twitter")
  %a.twitter-timeline.dib{"data-dnt" => "true", "data-widget-id" => "421354655507951616", href: "https://twitter.com/RalphAtHamburg"}

.fl.w-100.w-third-ns.ph2.f5
  %p.tc.b.mv4
    = t("index.about_title")
  %p.lh-copy.f5
    = t("index.about")

  %p.tc.f5.b.mv4
    = t("index.coworking_title")
  %p.f5.lh-copy
    = t("index.coworking")

.fl.w-100.w-third-ns.ph2.ph4-ns.p
  %p.tc.pb2.f5.b.mv4
    = t("index.dates")

  = link_to (image_tag 'https://re-publica.com/files/banner/rp17_Banner_440X150.gif', :alt => 're:publica 17 #LoveOutLoud'), "http://re-publica.de", :class => "dib dim link pb2"

  - data.events.dates.each do |d|
    .f5.pt2
      = d.date

    = link_to d.name, d.url, :class => "dib pb3 link dim black-90"


-# ---------------------------------------------------------
-# The JS for the twitter timeline
-# ---------------------------------------------------------

:javascript
  ! function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    p = /^http:/.test(d.location) ? 'http' : 'https';
  if (!d.getElementById(id)) {
    js = d.createElement(s);
    js.id = id;
    js.src = p + "://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  }
  }(document, "script", "twitter-wjs");
